* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

body {
  min-height: 100vh;
}

.header-section {
  margin-bottom: -1%;
}

.fixed-menu-cont {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-flex {
  display: flex;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  margin: 0 auto;
  padding-bottom: 5%;
}

.logo-img {
  max-width: 40%;
  display: block;
  margin-left: 5%;
  padding: 4% 0 4% 0;
  margin-top: 3%;
  margin-bottom: -2%;
}

.toggle-on-cont {
  text-align: right;
  padding-top: 6.8%;
  position: absolute;
  right: 5%;
}

.toggle-on {
  background: transparent;
  border-width: 0;
}

.toggle-on:hover {
  opacity: 0.7;
}

.open-icon {
  cursor: pointer;
}

.toggle-off-cont {
  text-align: right;
  padding-top: 6.8%;
  visibility: hidden;
}

.toggle-off {
  background: transparent;
  border-width: 0;
  position: relative;
}

.toggle-off:hover {
  opacity: 0.7;
}

.close-icon {
  cursor: pointer;
}

.menu-container {
  background-color: hsl(0, 0%, 100%);
  width: 85%;
  text-align: center;
  margin: 5% auto 0 auto;
  position: absolute;
  right: 7.5%;
  border-radius: 0.3rem;
  visibility: hidden;
  box-shadow: 5px 15px 6px rgba(0, 0, 0, 0.3);
}

.press {
  visibility: visible;
  z-index: 2;
}

.press2 {
  visibility: visible;
  position: absolute;
  right: 6%;
}

.press3 {
  visibility: hidden;
}

.active {
  filter: blur(25px);
}

.shadow, .shadow2, .shadow3, .shadow4, .shadow5 {
  filter: brightness(50%);
  background: rgba(0, 0, 0, 0.5);
}

.menu-container ul {
  padding: 1% 0;
}

.menu-container li {
  list-style: none;
  padding: 3% 0;
}

.menu-container a {
  color: hsl(233, 26%, 24%);
  text-decoration: none;
}

.nav-btn {
  display: none;
}

.mockups-bg {
  width: 100%;
  background-image: url(images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 120%;
}

.mockups-img {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: -10%;
}

.header-text-cont {
  width: 100%;
}

h1 {
  padding-top: 8%;
  text-align: center;
  width: 90%;
  font-size: 2.5rem;
  font-weight: 500;
  color: hsl(233, 26%, 24%);
  margin: 0 auto;
  padding-bottom: 5%;
}

.header-para {
  text-align: center;
  font-size: 1rem;
  width: 90%;
  margin: 0 auto;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  padding-bottom: 7%;
}

.inv-btn {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.inv-btn button {
  background: linear-gradient(90deg, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
  border-width: 0;
  cursor: pointer;
  padding: 8% 20%;
  color: hsl(0, 0%, 100%);
  border-radius: 2.5rem;
  font-size: 0.8rem;
}

.invis {
  visibility: hidden;
}

.choose-section {
  background-color: hsl(220, 16%, 96%);
  padding-bottom: 15%;
}

.choose-h2 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 500;
  color: hsl(233, 26%, 24%);
  padding-bottom: 5%;
  padding-top: 15%;
}

.choose-p {
  color: hsl(233, 8%, 62%);
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 0.9rem;
  padding-bottom: 4%;
}

.banking-img, .simple-img, .fast-img, .open-img {
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-bottom: 5%;
  padding-top: 8%;
}

.banking-head-p, .simple-head-p, .fast-head-p, .open-head-p {
  text-align: center;
  font-size: 1.4rem;
  color: hsl(233, 26%, 24%);
  padding-bottom: 5%;
  width: 50%;
  margin: 0 auto;
}

.banking-p, .simple-p, .fast-p, .open-p {
  text-align: center;
  color: hsl(233, 8%, 62%);
  margin: 0 auto;
  width: 88%;
  font-size: 0.9rem;
}

.articles-section {
  padding-top: 20%;
  background-color: hsl(0, 0%, 98%);
  width: 100%;
  padding-bottom: 15%;
  margin-top: -1%;
}

.articles-h2 {
  font-size: 2rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color: hsl(233, 26%, 24%);
  font-weight: 500;
  padding-bottom: 8%;
}

.currency-img, .restaurant-img, .plane-img, .confetti-img {
  width: 88%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 80%;
}

.article-text {
  background-color: hsl(0, 0%, 100%);
  width: 88%;
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 8%;
  margin: 0 auto;
  margin-bottom: 6%;
}

.publisher-p {
  color: hsl(233, 8%, 62%);
  font-weight: 300;
  text-align: left;
  font-size: 0.7rem;
  padding-bottom: 5%;
}

.article-head-p {
  text-align: left;
  color: hsl(233, 26%, 24%);
  padding-bottom: 5%;
  font-size: 1rem;
}

.article-desc-p {
  text-align: left;
  color: hsl(233, 8%, 62%);
  font-weight: 500;
  opacity: 0.9;
  font-size: 0.8rem;
}

.footer-section {
  background-color: hsl(233, 26%, 24%);
  padding-top: 10%;
}

.logo-footer {
  display: block;
  margin: 0 auto;
  padding-bottom: 5%;
}

.footer-socials {
  padding-top: 3%;
  text-align: center;
}

.footer-socials li {
  display: inline;
  padding: 0 1%;
}

.footer-socials a {
  text-decoration: none;
}

.footer-links1 {
  text-align: center;
  padding: 6% 0;
}

.footer-links1 li {
  padding: 2% 0;
}

.footer-links1 a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}

.footer-links2 {
  text-align: center;
  margin-top: -6%;
}

.footer-links2 li {
  padding: 2% 0;
}

.footer-links2 a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
}

.rights-para {
  color: hsl(233, 8%, 62%);
  text-align: center;
  padding-bottom: 5%;
  font-weight: 300;
}

@media only screen and (min-width: 1024px) {

  .fixed-menu-cont {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
  }

  .nav-bar-cont {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }

  .header-flex {
    width: 35%;
  }

  .logo-img {
    margin: 10% 0 -5% 0;
    padding: 0;
    width: 100%;
    height: 60%;
  }

  .menu-container {
    visibility: visible;
    position: initial;
    background-color: transparent;
    box-shadow: none;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    grid-template-areas: "links btn";
    width: 65%;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .menu-container ul {
    margin: 0;
    padding: 0;
    margin-top: 8%;
  }

  .menu-container li {
    display: inline;
    margin: 0;
    padding: 0 2%;
  }

  .menu-container a {
    padding: 0;
    margin: 0;
    color: hsl(233, 8%, 62%);
    text-align: left;
  }

  .menu-container a:hover {
    color: hsl(233, 26%, 24%);
    cursor: pointer;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: hsl(136, 65%, 51%);
    padding-bottom: 6.3%;
  }

  .header-links {
    grid-area: links;
  }

  .toggle-on-cont, .toggle-off-cont {
    display: none;
    text-align: right;
  }

  .nav-btn {
    display: inline-block;
    grid-area: btn;
    text-align: right;
    width: 100%;
    margin: 8% auto 0 auto;
    padding-bottom: 5%;
  }

  .nav-btn button {
    background: linear-gradient(90deg, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
    border-width: 0;
    cursor: pointer;
    padding: 6% 12%;
    color: hsl(0, 0%, 100%);
    border-radius: 2.5rem;
    font-size: 1rem;
  }

  .inv-btn {
    width: 65%;
    margin: 0;
    text-align: left;
  }

  .inv-btn button {
    font-size: 1rem;
    border-radius: 2.5rem; 
    padding: 5% 10%;
  }

  .header-img-flex {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: hsl(0, 0%, 98%);
  }

  .header-text-cont {
    width: 40%;
    margin-left: 10%;
  }

  h1 {
    padding: 30% 0 5% 0;
    width: 100%;
    text-align: left;
    margin: 0;
  }

  .header-para {
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .mockups-bg {
    width: 60%;
    background-image: url(images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .mockups-img {
    margin: -5% auto -15% auto;
    width: 80%;
  }

  .choose-section {
    padding-bottom: 5%;
  }

  .choose-text-cont {
    width: 80%;
    margin: 0;
  }

  .choose-h2 {
    padding-top: 5%;
    text-align: left;
    margin-left: 13%;
    padding-bottom: 3%;
    font-size: 2rem;
  }

  .choose-p {
    text-align: left;
    margin-left: 13%;
    padding: 0;
    width: 60%;
    font-size: 1rem;
  }

  .choices-flex {
    display: flex;
    width: 80%;
    margin: 0 10%;
    padding-top: 4%;
  }

  .first-choice {
    width: 100%;
    margin-right: 2%;
  }

  .second-choice {
    width: 100%;
    margin-right: 2%;
  }

  .third-choice {
    width: 100%;
    margin-right: 2%;
  }

  .fourth-choice {
    width: 100%;
  }

  .banking-img, .simple-img, .fast-img, .open-img {
    width: 30%;
    margin: 0 0 5% 0;
  }

  .banking-head-p, .simple-head-p, .fast-head-p, .open-head-p {
    text-align: left;
    margin: 0;
    padding-bottom: 10%;
    width: 100%;
  }

  .banking-p, .simple-p, .fast-p, .open-p {
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .articles-section {
    padding-top: 5%;
  }

  .articles-h2 {
    text-align: left;
    width: 80%;
    padding-bottom: 5%;
  }

  .articles-flex-cont {
    display: flex;
    width: 80%;
    margin: 0 8.9%;
  }

  .currency-img, .restaurant-img, .plane-img, .confetti-img {
    height: 40%;
  }

  .footer-section {
    padding-top: 4%;
  }

  .footer-cont {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }

  .footer-logo-socials {
    padding: 0% 10% 0 0;
  }

  .logo-footer {
    margin-bottom: 20%;
    padding-top: 5%;
  }

  .footer-socials {
    padding: 5% 0 0 0;
    margin: 0;
  }

  .footer-links1 {
    margin: 0;
    padding: 0 10% 0 0;
    text-align: left;
    width: 50%;
  }

  .footer-links1 li {
    list-style: none;
    padding: 6% 0;
  }

  .footer-links1 a {
    padding: 0;
    margin: 0;
  }

  .footer-links2 {
    margin: 0;
    padding: 0 10% 0 0;
    width: 60%;
    text-align: left;
  }

  .footer-links2 li {
    list-style: none;
    padding: 5% 0;
  }

  .footer-links2 a {
    padding: 0;
    margin: 0;
  }

  .footer-btn-rights {
    width: 100%;

  }

  .footer-btn-rights .inv-btn {
    text-align: right;
    width: 100%;
  }

  .rights-para {
    text-align: right;
  }

  .attribution {
    padding: 5% 0;
  }
}

.attribution { 
  font-size: 11px; text-align: center;
  padding-bottom: 5%; 
  color: hsl(0, 0%, 100%);
}

.attribution a { 
  color: hsl(136, 65%, 51%);
  text-decoration: none; 
}

.attribution a:hover {
  text-decoration: underline;
}